@import "palette.scss";

.LEFT_HAND {
  &.betaMove {
    fill: $left-hand-secondary;
  }
  &.lastBetaMove {
    fill: $left-hand-primary;
  }
}

.RIGHT_HAND {
  &.betaMove {
    fill: $right-hand-secondary;
  }
  &.lastBetaMove {
    fill: $right-hand-primary;
  }
}

.text {
  font-size: 3px;
  user-select: none;
  pointer-events: none;
}
