.LEFT_HAND {
  &.betaMove {
    fill: lightblue;
  }
  &.lastBetaMove {
    fill: blue;
  }
}

.RIGHT_HAND {
  &.betaMove {
    fill: lightcoral;
  }
  &.lastBetaMove {
    fill: red;
  }
}

.text {
  font-size: 3px;
}
