@import "palette.scss";

.betaMove {
  &.LEFT_HAND {
    fill: $left-hand-secondary;
  }

  &.RIGHT_HAND {
    fill: $right-hand-secondary;
  }

  &.LEFT_FOOT {
    fill: $left-foot-secondary;
  }

  &.RIGHT_FOOT {
    fill: $right-foot-secondary;
  }
}
