@import "palette.scss";

.betaChainLine {
  &.LEFT_HAND {
    stroke: $left-hand-secondary;
  }

  &.RIGHT_HAND {
    stroke: $right-hand-secondary;
  }

  &.LEFT_FOOT {
    stroke: $left-foot-secondary;
  }

  &.RIGHT_FOOT {
    stroke: $right-foot-secondary;
  }
}
