$left-hand-primary: blue;
$left-hand-secondary: lightblue;
$right-hand-primary: red;
$right-hand-secondary: lightcoral;
$left-foot-primary: green;
$left-foot-secondary: lightgreen;
$right-foot-primary: orange;
$right-foot-secondary: yellow;
