.hold {
  fill: red;
}

.betaMove {
  fill: lightblue;
}

.lastBetaMove {
  fill: blue;
}

.betaMoveLine {
  stroke: lightblue;
}

.betaMoveLabel {
  font-size: 2px;
  user-select: none;
}

.snappableNear {
  transform: scale(2);
}
